<h2 class='page-header'><%= book.title %></h2>
<div class='book-details'>
	<div>
		<img class='book-cover' src='<%= book.coverImageData %>'>
		<div class='book-details-btn-grid'>
			<a href='/books/<%= book.id %>/edit' class='btn btn-primary'>Edit</a>
			<%- include('../partials/deleteForm',{url:`/books/${book.id}`}) %>
			<a href='/authors/<%= author.id %>' class='btn btn-primary book-details-view-btn'>View author</a>
			<% if (status==0) {%>
				<a href='/books/<%= book.id %>/favourite' class='btn btn-primary book-details-fav-btn'>Add to favourite</a>
			<% }else{ %>
				<a href='/books/<%= book.id %>/remove' class='btn btn-danger book-details-fav-btn'>Remove from favourite</a>
			<% } %>
		</div>
	</div>
	<div>
		<div class='book-details-grid'>
			<div class='book-details-label'>Author: </div>
			<div><%= author.name %></div>
			<div class='book-details-label'>Publish date: </div>
			<div><%= book.publishDate.toDateString() %></div>
			<div class='book-details-label'>Page count: </div>
			<div><%= book.pageCount %></div>
			<div class='book-details-label'>Description: </div>
			<div><%= book.description %></div>
		</div>
	</div>
</div>