<h2>Search authors</h2>
<form action='/authors' method='get'>
	<label>Search authors</label>
	<input type='text' name='name' class='form-control' value=<%= searchOption %>>
	<button type='submit' clas='btn btn-primary'>Search</button>
</form>
<div class='container'>
	<% authors.forEach(author=>{ %>
		<div><p><%= author.name %></p></div>
		<a href='/authors/<%= author.id %>' class='btn btn-primary'>View</a>
		<a href='/authors/<%= author.id %>/edit' class='btn btn-primary'>Edit</a>
		<%- include('../partials/deleteForm',{url:`/authors/${author.id}`}) %>
	<% }) %>
</div>